In [2]:
import pandas as pd

## Brazil Area Data

In [3]:
fileBrazil = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/Brazil.csv'
dataBrazil = pd.read_csv(fileBrazil)

dataBrazil.head()

,x,y,forest,area,year,nn_forest,Countryeng,FID,GEZ_TERM,un,...,PCGDP.l,PCGDP.change.l,Pop.growth.l,democracy_BX,margin.norm,close80,close90,lead.election_DPI,lag.election_DPI,tot_forest
0,-73.925,-7.575,92.0,30.505906,1982,95.75,Brazil,7637359,Tropical rainforest,76,...,NaN,NaN,NaN,0.0,86.460003,1.0,NaN,NaN,1.0,92.0
1,-73.925,-7.525,97.0,30.509412,1982,95.75,Brazil,7637360,Tropical rainforest,76,...,NaN,NaN,NaN,0.0,86.460003,1.0,NaN,1.0,1.0,97.0
2,-73.875,-7.625,92.0,30.502378,1982,97.00,Brazil,7640958,Tropical rainforest,76,...,NaN,NaN,NaN,0.0,86.460003,1.0,NaN,1.0,1.0,92.0
3,-73.875,-7.575,97.0,30.505906,1982,94.50,Brazil,7640959,Tropical rainforest,76,...,NaN,NaN,NaN,0.0,86.460003,1.0,NaN,1.0,1.0,97.0
4,-73.875,-7.525,97.0,30.509412,1982,97.00,Brazil,7640960,Tropical rainforest,76,...,NaN,NaN,NaN,0.0,86.460003,1.0,NaN,1.0,1.0,97.0

In [4]:
print(dataBrazil.columns.values)

['x' 'y' 'forest' 'area' 'year' 'nn_forest' 'Countryeng' 'FID' 'GEZ_TERM'
 'un' 'forest.diff' 'forest.l' 'nn_forest.l' 'defo' 'polity2'
 'election_DPI' 'margin' 'PCGDP.l' 'PCGDP.change.l' 'Pop.growth.l'
 'democracy_BX' 'margin.norm' 'close80' 'close90' 'lead.election_DPI'
 'lag.election_DPI' 'tot_forest']

## Commmodity Price Data

In [5]:
fileComm = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/commodity_prices.xlsx'
dataComm = pd.read_excel(fileComm)

dataComm.head()

        date   soy_price  beef_price
0 1990-01-01  212.185439  116.813334
1 1990-04-01  223.347453  112.733325
2 1990-07-01  224.028810  119.596667
3 1990-10-01  216.840106  115.923340
4 1991-01-01  210.317448  119.713331

## Farm Price Data

In [6]:
fileFarm = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/farm_price_index.xlsx'
dataFarm = pd.read_excel(fileFarm)

dataFarm.head()

        date  farm_price
0 1990-01-01       118.3
1 1990-02-01       118.4
2 1990-03-01       118.9
3 1990-04-01       118.5
4 1990-05-01       120.1

In [11]:
fileBraz = '/Users/annieulichney/Desktop/Brazil_complete.csv'
dataBr = pd.read_csv(fileBraz, nrows = 10000)

dataBr.head()

/Users/annieulichney/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (129,133,135,136,137,139,140,142) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,id_municipio_6,ID,year,FID,x,y,forest,area,nn_forest,...,cen_relig_spiritist,cen_relig_other,cen_born_in_munic,cen_literacy,cen_race_white,cen_race_black,cen_race_yellow,cen_race_brown,cen_years_educ,cen_income
0,1,110001,1100015,2000,8436645,-62.825,-12.925,95.0,29.998038,87.250,...,-0.003656,0.001511,0.065238,0.056919,-0.1125,0.012257,0.002642,0.100777,1.139393,313.876862
1,2,110001,1100015,2000,8436646,-62.825,-12.875,67.0,30.003996,69.625,...,-0.003656,0.001511,0.065238,0.056919,-0.1125,0.012257,0.002642,0.100777,1.139393,313.876862
2,3,110001,1100015,2000,8440244,-62.775,-12.975,87.5,29.992057,91.875,...,-0.003656,0.001511,0.065238,0.056919,-0.1125,0.012257,0.002642,0.100777,1.139393,313.876862
3,4,110001,1100015,2000,8440245,-62.775,-12.925,88.0,29.998038,74.500,...,-0.003656,0.001511,0.065238,0.056919,-0.1125,0.012257,0.002642,0.100777,1.139393,313.876862
4,5,110001,1100015,2000,8443844,-62.725,-12.975,88.0,29.992057,78.375,...,-0.003656,0.001511,0.065238,0.056919,-0.1125,0.012257,0.002642,0.100777,1.139393,313.876862

In [17]:
#create file that contains all variables in the dataset, write to text file since there are many

var_list = dataBr.columns.values.tolist()
textfile = open("var_list.txt", "w")

for element in var_list:
    textfile.write(element + ': '+"\n")
textfile.close()

In [19]:
print(len(var_list))

469