## Covariates in Deforestation
1. federal politics
- "lula": Lula government years (2003-2010),
- "dilma": Dilma government yeras (2011-2016),
- "temer": Temer interim government (2017-2018),
- "bolsonaro": Bolsonaro government (2019-2020),
- "fed_election_year": Years where there was a Federal Election 
- "new_forest_code": years after new forest code (post 2012), --? is this one sorted correctly

2. local politics includes variables of political competition and alignment with the central government
- "mun_election_year": municipal election year,


3. local demographics

- "populacao": Population (I think this is census data so 2000 and 2010),
- "pib_pc": GDP per capita,
- "indigenous_homol": pixel is inside an indigenous, homologated territory

4. natural resources and economy

- "ironore": whether the municipality produces ironore,
- "silver": whether the municipality produces silver,
- "copper": whether the municipality produces copper,
- "gold": whether the municipality produces gold,

- "soy_price": whether the municipality produces soy,
- "beef_price": whether the municipality produces beef,

- "ag_jobs": total employment in the agricultural sector,
- "mining_jobs": total employment in the mining sector,
- "public_jobs": total employment in the public sector,
- "construction_jobs": total employment in the construction sector


5. non-human related geographic variables
- "rain1": rainfall,
- "elevation": elevation (meters above sea level),
- "slope": slope,
- "aspect": aspect,
- "near_mines": distance to nearest mine,
- "near_roads": distance to nearest road,
- "near_hidrovia": distance to nearest hydroeletric


Adding to be sorted: 
- illegal mining variables

In [321]:
import pandas as pd
import numpy as np
import pyreadr

# Get Data

## Main Data

In [361]:
main = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/analysis.Rdata') #read R dataframe into Python
df1 = pd.DataFrame(main['forest_full'])
df = df1.sample(10000) #trim because this frame is quite large, test that all runs before doing entire dataset!
#df = df1

In [362]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,ironore,silver,copper,gold,soy_price,beef_price,ag_jobs,mining_jobs,public_jobs,construction_jobs
2381054,1701903,-3.0,9387283,-49.625,-8.875,2016,43.0,38.50,25.23885,164.0,...,58.419998,551389.62500,4867.899902,40156276.0,362.706821,178.208263,36.180905,0.251256,50.000000,0.753769
1349209,1303536,8.0,8660101,-59.725,-1.725,2010,63.0,41.75,32.26989,53.0,...,145.860001,647842.62500,7534.779785,39374044.0,384.945254,152.474558,17.672414,18.405172,47.370690,5.043103
369227,1303007,21.0,8836548,-57.275,-2.175,2004,76.0,90.00,35.39760,60.0,...,37.900002,214125.65625,2865.879883,13156510.0,276.632995,113.907083,0.000000,0.000000,94.990366,0.000000
1009771,1302306,1.0,8015540,-68.675,-4.125,2008,92.0,93.75,35.96522,144.0,...,155.990005,482265.00000,6955.879883,28026348.0,452.942519,121.103472,0.000000,0.000000,0.000000,0.000000
457887,5101209,-12.0,9127924,-53.225,-16.725,2004,28.0,22.00,21.05231,656.0,...,37.900002,214125.65625,2865.879883,13156510.0,276.632995,113.907083,64.705882,0.000000,23.529412,0.000000

In [363]:
df.columns

Index(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs'],
      dtype='object')

## PIB Data (Economic)

In [325]:
#what is PIB variable? There are some nas in this column post merging
#ended up commenting this out because I think this data is already in the analysis.Rdata file
#keep PIB on its own too, gives sense of size of economy

In [366]:
#pib.Rdata

pib_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/pib.Rdata')
pib_df = pd.DataFrame(pib_read ['df.pib_pc'])
pib_df.head()
df = pd.merge(df, pib_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

In [376]:
df = df[['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao_x', 'pib_pc_x', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs', 'PIB']]

In [378]:
df.columns = ['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l', 'nn_forest.l',
       'rain1', 'elevation', 'slope', 'aspect', 'near_mines', 'near_roads',
       'near_hidrovia', 'indigenous_homol', 'mun_election_year',
       'new_forest_code', 'lula', 'dilma', 'temer', 'bolsonaro',
       'fed_election_year', 'populacao', 'pib_pc', 'ironore', 'silver',
       'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs', 'mining_jobs',
       'public_jobs', 'construction_jobs', 'PIB']

## RAIS Setor (Labor and Social Security)

In [327]:
# do we want to keep all of the many categories? or pick ones that are most relevant? 
# should they be left as counts or do we want percentages?

In [379]:
#rais_setor_munic.Rdata

rais_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/rais_setor_munic.Rdata')
rais_df = pd.DataFrame(rais_read['rais3'])
rais_df.head()

,id_municipio,ano,n_empresas_ADMIN PUBLICA,n_empresas_AGRICULTURA,n_empresas_ALIMENTOS E BEBIDAS,n_empresas_ALOJAMENTO E ALIMENTACAO,n_empresas_ALUGUEL EQUIPAMENTO,n_empresas_ATACADO,n_empresas_ATIVIDADES ASSOCIATIVAS,n_empresas_AUTOMOVEIS E TRANSPORTE,...,n_empregos_IMOBILIARIA,n_empregos_RECICLAGEM,n_empregos_COUROS E CALCADO,n_empregos_BORRACHA E PLASTICO,n_empregos_TEXTEIS,n_empregos_PESQUISA E DESENVOLVIMENTO,n_empregos_TRANSPORTE AEREO,n_empregos_FUMO,n_empregos_REFINO PETROLEO,n_empregos_
0,1100015,2000,2,27,15,13,1,38,126,5,...,0,0,0,0,0,0,0,0,0,0
1,1100015,2001,3,32,17,10,1,40,118,4,...,0,0,0,0,0,0,0,0,0,0
2,1100015,2002,3,45,23,13,0,39,127,4,...,0,0,0,0,0,0,0,0,0,0
3,1100015,2003,2,65,23,13,0,33,109,4,...,0,0,0,0,0,0,0,0,0,0
4,1100015,2004,2,83,44,10,1,29,110,3,...,0,0,0,0,0,0,0,0,0,0

In [381]:
np.array(rais_df.columns)

array(['id_municipio', 'ano', 'n_empresas_ADMIN PUBLICA',
       'n_empresas_AGRICULTURA', 'n_empresas_ALIMENTOS E BEBIDAS',
       'n_empresas_ALOJAMENTO E ALIMENTACAO',
       'n_empresas_ALUGUEL EQUIPAMENTO', 'n_empresas_ATACADO',
       'n_empresas_ATIVIDADES ASSOCIATIVAS',
       'n_empresas_AUTOMOVEIS E TRANSPORTE', 'n_empresas_AUX FINANCIERO',
       'n_empresas_COMERCIO REP VEICULOS', 'n_empresas_CONSTRUCAO',
       'n_empresas_CORREIO E TELECOM', 'n_empresas_CULTURA E ESPORTE',
       'n_empresas_EDICAO E IMPRESSAO', 'n_empresas_EDUCACAO',
       'n_empresas_ELETRICIDADE E GAS', 'n_empresas_FINANCAS',
       'n_empresas_LIMPEZA E ESGOTO', 'n_empresas_MAQUINARIA',
       'n_empresas_METALURGIA BASICA', 'n_empresas_MINEIRACAO',
       'n_empresas_PROD MADERA', 'n_empresas_PROD MINERAIS NAO METALICOS',
       'n_empresas_SAUDE', 'n_empresas_SERVICOS A EMPRESAS',
       'n_empresas_SERVICOS PESSOAIS', 'n_empresas_TRANSPORTE OUTROS',
       'n_empresas_TRANSPORTE TERRESTRE',
       'n_empresas_TRATAMENTO E DISTRIBUCAO AGUA', 'n_empresas_VAREJO',
       'n_empresas_INFORMATICA', 'n_empresas_SEGUROS E PREVIDENCIA',
       'n_empresas_PROD METALICOS', 'n_empresas_SERVICOS DOMESTICOS',
       'n_empresas_SILVICULTURA E FLORESTAL', 'n_empresas_VESTUARIO',
       'n_empresas_CELULOSE E PAPEL',
       'n_empresas_ORGANISMOS INTERNACIONAIS',
       'n_empresas_PETROLEO E GAS', 'n_empresas_PESCA E AQUICULTURA',
       'n_empresas_QUIMICOS', 'n_empresas_TRANSPORTE AQUAVIARIO',
       'n_empresas_IMOBILIARIA', 'n_empresas_RECICLAGEM',
       'n_empresas_COUROS E CALCADO', 'n_empresas_BORRACHA E PLASTICO',
       'n_empresas_TEXTEIS', 'n_empresas_PESQUISA E DESENVOLVIMENTO',
       'n_empresas_TRANSPORTE AEREO', 'n_empresas_FUMO',
       'n_empresas_REFINO PETROLEO', 'n_empresas_',
       'n_empregos_ADMIN PUBLICA', 'n_empregos_AGRICULTURA',
       'n_empregos_ALIMENTOS E BEBIDAS',
       'n_empregos_ALOJAMENTO E ALIMENTACAO',
       'n_empregos_ALUGUEL EQUIPAMENTO', 'n_empregos_ATACADO',
       'n_empregos_ATIVIDADES ASSOCIATIVAS',
       'n_empregos_AUTOMOVEIS E TRANSPORTE', 'n_empregos_AUX FINANCIERO',
       'n_empregos_COMERCIO REP VEICULOS', 'n_empregos_CONSTRUCAO',
       'n_empregos_CORREIO E TELECOM', 'n_empregos_CULTURA E ESPORTE',
       'n_empregos_EDICAO E IMPRESSAO', 'n_empregos_EDUCACAO',
       'n_empregos_ELETRICIDADE E GAS', 'n_empregos_FINANCAS',
       'n_empregos_LIMPEZA E ESGOTO', 'n_empregos_MAQUINARIA',
       'n_empregos_METALURGIA BASICA', 'n_empregos_MINEIRACAO',
       'n_empregos_PROD MADERA', 'n_empregos_PROD MINERAIS NAO METALICOS',
       'n_empregos_SAUDE', 'n_empregos_SERVICOS A EMPRESAS',
       'n_empregos_SERVICOS PESSOAIS', 'n_empregos_TRANSPORTE OUTROS',
       'n_empregos_TRANSPORTE TERRESTRE',
       'n_empregos_TRATAMENTO E DISTRIBUCAO AGUA', 'n_empregos_VAREJO',
       'n_empregos_INFORMATICA', 'n_empregos_SEGUROS E PREVIDENCIA',
       'n_empregos_PROD METALICOS', 'n_empregos_SERVICOS DOMESTICOS',
       'n_empregos_SILVICULTURA E FLORESTAL', 'n_empregos_VESTUARIO',
       'n_empregos_CELULOSE E PAPEL',
       'n_empregos_ORGANISMOS INTERNACIONAIS',
       'n_empregos_PETROLEO E GAS', 'n_empregos_PESCA E AQUICULTURA',
       'n_empregos_QUIMICOS', 'n_empregos_TRANSPORTE AQUAVIARIO',
       'n_empregos_IMOBILIARIA', 'n_empregos_RECICLAGEM',
       'n_empregos_COUROS E CALCADO', 'n_empregos_BORRACHA E PLASTICO',
       'n_empregos_TEXTEIS', 'n_empregos_PESQUISA E DESENVOLVIMENTO',
       'n_empregos_TRANSPORTE AEREO', 'n_empregos_FUMO',
       'n_empregos_REFINO PETROLEO', 'n_empregos_'], dtype=object)

In [329]:
#english names of columns
rais_df.columns = ['id_municipio', 'ano', 'n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING', 'n_companies_',
       'n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRNIKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPTMENT RENAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTON',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD_PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_COMPUTING', 'n_jobs_INSURANCE AND SOCIAL SECURITY',
       'n_jobs_METALLIC PRODUCTS', 'n_jobs_DOMESTIC SERVICES',
       'n_jobs_FORESTRY', 'n_jobs_CLOTHING',
       'n_jobs_PAPER',
       'n_jobs_INTERNATIONAL BODIES',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER TRANSPORATON',
       'n_jobs_REAL ESTATE', 'n_jobs_RECYCLING',
       'n_jobs_LEATHERS AND FOOTWEAR', 'n_jobs_RUBBER AND PLASTIC',
       'n_jobs_TEXTILES', 'n_jobs_RESEARCH AND DEVELOPMENT',
       'n_jobs_AERO TRANSPORT', 'n_jobs_SMOKE',
       'n_jobs_PETROLEUM REFINING', 'n_jobs_']

In [382]:
test = ['n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER-BASED TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_RUBBER AND PLASTIC',
       'n_companies_TEXTILES', 'n_companies_RESEARCH AND DEVELOPMENT',
       'n_companies_AERO TRANSPORT', 'n_companies_SMOKE',
       'n_companies_PETROLEUM REFINING']

In [383]:
len(test)

51

In [ ]:
#admin publica, agriculture, construction, mining, wood products, forestry, paper, oil and gas, fishing and agriculture, 

#SILVICULTURA E FLORESTAL', pequaria, 
#general services and industry, commodities category that groups a bunch of others 
#financial services can go in services, construction autos etc can go in industry, 
#mining in industry 

#extra variables with grouping

In [ ]:
#jobs to sort
rais_df.columns = [
       
       'n_jobs_INFORMATICA', 'n_jobs_SEGUROS E PREVIDENCIA', 
       'n_jobs_SILVICULTURA E FLORESTAL', 'n_jobs_VESTUARIO',
       'n_jobs_CELULOSE E PAPEL',
       'n_jobs_ORGANISMOS INTERNACIONAIS', 
       'n_jobs_IMOBILIARIA',
       'n_jobs_COUROS E CALCADO', 'n_jobs_BORRACHA E PLASTICO',
        'n_jobs_PESQUISA E DESENVOLVIMENTO', 'n_jobs_FUMO',
       'n_jobs_REFINO PETROLEO', 'n_jobs_']

In [ ]:
#add categories: service and industry 
#general services and industry, commodities category that groups a bunch of others 
#financial services can go in services, construction autos etc can go in industry, 
#mining in industry

In [ ]:
#check about water ttransport/treatment and distribution

In [ ]:
industry_jobs = ['n_jobs_AGRICULTURE',
                 'n_jobs_MINING', 
                 'n_jobs_NON-METALLIC MINERAL PRODUCTS', 
                 'n_jobs_CONSTRUCTON',
                 'n_jobs_WOOD_PROD', 
                 'n_jobs_MACHINERY', 
                 'n_jobs_OIL AND GAS',
                 'n_jobs_BASIC METALLURGY',
                 'n_jobs_METALLIC PRODUCTS', 
                 'n_jobs_CHEMICALS', 
                 'n_jobs_ELECTRICITY AND GAS',
                 'n_jobs_FISHING AND AQUACULTURE',
                 'n_jobs_AUTOMOBILES AND TRANSPORT',
                 'n_jobs_TRADE REP VEHICLES',
                 'n_jobs_WATER TREATMENT AND DISTRIBUTION',
                 'n_jobs_TRANSPORTATION',
                 'n_jobs_WATER-BASED TRANSPORTATION',
                 'n_jobs_GROUND TRANSPORT',
                 'n_jobs_AERO TRANSPORT',
                 'n_jobs_RECYCLING'
                 'n_jobs_CLEANING AND SEWAGE',]

service_jobs = ['n_jobs_ACCOMODATION AND FOOD', 
                'n_jobs_PERSONAL SERVICES', 
                'n_jobs_FINANCIAL ASSISTANCE', 
                'n_jobs_HEALTH',
                'n_jobs_SERVICES FOR COMPANIES',
                'n_jobs_FINANCES',
                'n_jobs_PUBLIC ADMIN',
                'n_jobs_FOOD AND DRINKS', 
                'n_jobs_EQUIPTMENT RENTAL', 
                'n_jobs_WHOLESALE',
                'n_jobs_TEXTILES',
                'n_jobs_ASSOCIATIVE ACTIVITIES', 
                'n_jobs_MAIL AND TELECOM',
                'n_jobs_EDUCATION', 
                'n_jobs_REAL ESTATE', 
                'n_jobs_EDITING AND PRINTING',
                'n_jobs_CULTURE AND SPORT', 
                'n_jobs_DOMESTIC SERVICES',]

In [ ]:


       'n_companies_ASSOCIATIVE ACTIVITIES',
        'n_companies_FINANCIAL ASSISTANCE',
        'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',

 'n_companies_CLOTHING',

'n_companies_FISHING AND AQUACULTURE',

       'n_companies_REAL ESTATE',
  
       'n_companies_PETROLEUM REFINING',

In [384]:
industrial_companies = ['n_companies_AGRICULTURE',
                    'n_companies_AUTOMOBILES AND TRANSPORT',
                    'n_companies_TRADE REP VEHICLES', 
                    'n_companies_WOOD PROD', 
                    'n_companies_NON-METALLIC MINERAL PRODUCTS',
                    'n_companies_BASIC METALLURGY', 
                    'n_companies_MINING',
                    'n_companies_TRANSPORTATION',
                    'n_companies_GROUND TRANSPORT',
                    'n_companies_WATER-BASED TRANSPORTATION',
                    'n_companies_AERO TRANSPORT',
                    'n_companies_CONSTRUCTION',
                    'n_companies_OIL AND GAS',
                    'n_companies_MACHINERY',
                    'n_companies_FORESTRY', 
                    'n_companies_ELECTRICITY AND GAS',
                    'n_companies_FISHING AND AQUACULTURE',
                    'n_companies_CHEMICALS', 
                    'n_companies_METALLIC PRODUCTS', 
                    'n_companies_PAPER',
                    'n_companies_WATER TREATMENT AND DISTRIBUTION', 
                    'n_companies_CLEANING AND SEWAGE', 
                    'n_companies_RECYCLING',
                    'n_companies_RUBBER AND PLASTIC', 
                    'n_companies_SMOKE',]

service_companies = ['n_companies_PUBLIC ADMIN',
                    'n_companies_FOOD AND DRINKS',
                    'n_companies_ACCOMODATION AND FOOD',
                    'n_companies_EQUIPMENT RENTAL', 
                    'n_companies_WHOLESALE',
                    'n_companies_LEATHERS AND FOOTWEAR',
                    'n_companies_TEXTILES',
                    'n_companies_ASSOCIATIVE ACTIVITIES',
                    'n_companies_FINANCIAL ASSISTANCE',
                    'n_companies_HEALTH', 
                    'n_companies_SERVICES FOR COMPANIES',
                    'n_companies_PERSONAL SERVICES', 
                    'n_companies_MAIL AND TELECOM', 
                    'n_companies_EDITING AND PRINTING', 
                    'n_companies_EDUCATION',
                    'n_companies_DOMESTIC SERVICES',
                    'n_companies_INSURANCE AND SOCIAL SECURITY',
                    'n_companies_RETAIL',
                    'n_companies_FINANCES',
                    'n_companies_CULTURE AND SPORT',
                    'n_companies_REAL ESTATE',
                    'n_companies_RESEARCH AND DEVELOPMENT',
                    'n_companies_COMPUTING',
                    'n_companies_CLOTHING', 
                    'n_companies_INTERNATIONAL BODIES',]

In [330]:
#change to percentages instead of total jobs

In [331]:
companies_columns_list = ['n_companies_PUBLIC ADMIN',
       'n_companies_AGRICULTURE', 'n_companies_FOOD AND DRINKS',
       'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT', 'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD', 'n_companies_NON-METALLIC MINERAL PRODUCTS',
       'n_companies_HEALTH', 'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION', 'n_companies_RETAIL',
       'n_companies_COMPUTING', 'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER',
       'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR', 'n_companies_BORRACHA E PLASTICO',
       'n_companies_TEXTILES', 'n_companies_PESQUISA E DESENVOLVIMENTO',
       'n_companies_AERO TRANSPORT', 'n_companies_FUMO',
       'n_companies_REFINO PETROLEO', 'n_companies_']
rais_df['n_companies_TOTAL'] = rais_df[companies_columns_list].sum(axis=1)

In [332]:
jobs_columns_list = ['n_jobs_PUBLIC ADMIN', 'n_jobs_AGRICULTURE',
       'n_jobs_FOOD AND DRNIKS',
       'n_jobs_ACCOMODATION AND FOOD',
       'n_jobs_EQUIPTMENT RENAL', 'n_jobs_WHOLESALE',
       'n_jobs_ASSOCIATIVE ACTIVITIES',
       'n_jobs_AUTOMOBILES AND TRANSPORT', 'n_jobs_FINANCIAL ASSISTANCE',
       'n_jobs_TRADE REP VEHICLES', 'n_jobs_CONSTRUCTON',
       'n_jobs_MAIL AND TELECOM', 'n_jobs_CULTURE AND SPORT',
       'n_jobs_EDITING AND PRINTING', 'n_jobs_EDUCATION',
       'n_jobs_ELECTRICITY AND GAS', 'n_jobs_FINANCES',
       'n_jobs_CLEANING AND SEWAGE', 'n_jobs_MACHINERY',
       'n_jobs_BASIC METALLURGY', 'n_jobs_MINING',
       'n_jobs_WOOD_PROD', 'n_jobs_NON-METALLIC MINERAL PRODUCTS',
       'n_jobs_HEALTH', 'n_jobs_SERVICES FOR COMPANIES',
       'n_jobs_PERSONAL SERVICES', 'n_jobs_TRANSPORTATION',
       'n_jobs_GROUND TRANSPORT',
       'n_jobs_WATER TRANSPORTATION', 'n_jobs_REAL ESTATE',
       'n_jobs_INFORMATICA', 'n_jobs_SEGUROS E PREVIDENCIA',
       'n_jobs_PROD METALICOS', 'n_jobs_SERVICOS DOMESTICOS',
       'n_jobs_SILVICULTURA E FLORESTAL', 'n_jobs_VESTUARIO',
       'n_jobs_CELULOSE E PAPEL',
       'n_jobs_ORGANISMOS INTERNACIONAIS',
       'n_jobs_OIL AND GAS', 'n_jobs_FISHING AND AQUACULTURE',
       'n_jobs_CHEMICALS', 'n_jobs_WATER TRANSPORATON',
       'n_jobs_IMOBILIARIA', 'n_jobs_RECYCLING',
       'n_jobs_COUROS E CALCADO', 'n_jobs_BORRACHA E PLASTICO',
       'n_jobs_TEXTEIS', 'n_jobs_PESQUISA E DESENVOLVIMENTO',
       'n_jobs_AERO TRANSPORT', 'n_jobs_FUMO',
       'n_jobs_REFINO PETROLEO', 'n_jobs_']

rais_df['n_jobs_TOTAL'] = rais_df[jobs_columns_list].sum(axis=1)

In [333]:
rais_df[jobs_columns_list] = rais_df[jobs_columns_list].div(rais_df.n_jobs_TOTAL, axis=0)
rais_df[companies_columns_list] = rais_df[companies_columns_list].div(rais_df.n_companies_TOTAL, axis=0)

In [334]:
df = pd.merge(df, rais_df,  how = 'left', left_on = ['ID','year'], right_on = ['id_municipio','ano'])

## Year Forest Data

In [335]:
#filled NA audits with 0

In [336]:
result1 = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/year_deforest.RData')
df2 = pd.DataFrame(result1['year_deforest'])
df2 = df2.fillna(0)
df2.head()

,year,term,munic_id,inc,area,per,murder_threats,assassination,assassination_attempt,emiss_agr,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,2000,2000,1100015,0.0,7137,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,2000,2000,1100023,0.0,4481,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,173.167599,0.0,1744.914255,0.0
2,2000,2000,1100031,0.0,1322,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,2000,2000,1100049,0.0,3821,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,2000,2000,1100056,0.0,2805,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [360]:
np.unique(df2.year)
#double check that there aren't patterns with the NAs here

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int32)

In [337]:
df2 = df2.drop(['term', 'inc'], axis=1)

In [338]:
np.array(df2.columns)

array(['year', 'munic_id', 'area', 'per', 'murder_threats',
       'assassination', 'assassination_attempt', 'emiss_agr',
       'emiss_agropec', 'emiss_pec', 'f_emitted_count', 'expen_agri',
       'expen_env_man', 'expen_agr_org', 'expen_mining', 'expen_petrol',
       'expen_prom_ani_pro', 'expen_prom_veg_pro', 'expen_other_agr',
       'expen_agr_defense', 'expen_min_fuel', 'illegal_mining',
       'illegal_other', 'illegal_industry', 'audits'], dtype=object)

In [339]:
df = pd.merge(df, df2,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [ ]:
#political variables
#next add municipality electoral variables 
#at term level, need to merge to yearly level, 
#election iindicator, margin, who won, next 4 years ... need to consider going from electioin to yearly 
#margin of vectory, whether imucmbent won reelection, alignment to fed gov

In [ ]:
#look at overleaf

In [340]:
np.array(df.columns)

array(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs',
       'mining_jobs', 'public_jobs', 'construction_jobs', 'id_municipio',
       'ano', 'n_companies_PUBLIC ADMIN', 'n_companies_AGRICULTURE',
       'n_companies_FOOD AND DRINKS', 'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTSS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_BORRACHA E PLASTICO', 'n_companies_TEXTEIS',
       'n_companies_PESQUISA E DESENVOLVIMENTO',
       'n_companies_TRANSPORTE AEREO', 'n_companies_FUMO',
       'n_companies_REFINO PETROLEO', 'n_companies_',
       'n_jobs_ADMIN PUBLICA', 'n_jobs_AGRICULTURA',
       'n_jobs_ALIMENTOS E BEBIDAS', 'n_jobs_ALOJAMENTO E ALIMENTACAO',
       'n_jobs_ALUGUEL EQUIPAMENTO', 'n_jobs_ATACADO',
       'n_jobs_ATIVIDADES ASSOCIATIVAS', 'n_jobs_AUTOMOVEIS E TRANSPORTE',
       'n_jobs_AUX FINANCIERO', 'n_jobs_COMERCIO REP VEICULOS',
       'n_jobs_CONSTRUCAO', 'n_jobs_CORREIO E TELECOM',
       'n_jobs_CULTURA E ESPORTE', 'n_jobs_EDICAO E IMPRESSAO',
       'n_jobs_EDUCACAO', 'n_jobs_ELETRICIDADE E GAS', 'n_jobs_FINANCAS',
       'n_jobs_LIMPEZA E ESGOTO', 'n_jobs_MAQUINARIA',
       'n_jobs_METALURGIA BASICA', 'n_jobs_MINEIRACAO',
       'n_jobs_PROD MADERA', 'n_jobs_PROD MINERAIS NAO METALICOS',
       'n_jobs_SAUDE', 'n_jobs_SERVICOS A companies',
       'n_jobs_SERVICOS PESSOAIS', 'n_jobs_TRANSPORTE OUTROS',
       'n_jobs_TRANSPORTE TERRESTRE',
       'n_jobs_TRATAMENTO E DISTRIBUCAO AGUA', 'n_jobs_VAREJO',
       'n_jobs_INFORMATICA', 'n_jobs_SEGUROS E PREVIDENCIA',
       'n_jobs_PROD METALICOS', 'n_jobs_SERVICOS DOMESTICOS',
       'n_jobs_SILVICULTURA E FLORESTAL', 'n_jobs_VESTUARIO',
       'n_jobs_CELULOSE E PAPEL', 'n_jobs_ORGANISMOS INTERNACIONAIS',
       'n_jobs_PETROLEO E GAS', 'n_jobs_PESCA E AQUICULTURA',
       'n_jobs_QUIMICOS', 'n_jobs_TRANSPORTE AQUAVIARIO',
       'n_jobs_IMOBILIARIA', 'n_jobs_RECICLAGEM',
       'n_jobs_COUROS E CALCADO', 'n_jobs_BORRACHA E PLASTICO',
       'n_jobs_TEXTEIS', 'n_jobs_PESQUISA E DESENVOLVIMENTO',
       'n_jobs_TRANSPORTE AEREO', 'n_jobs_FUMO', 'n_jobs_REFINO PETROLEO',
       'n_jobs_', 'n_companies_TOTAL', 'n_jobs_TOTAL', 'munic_id', 'area',
       'per', 'murder_threats', 'assassination', 'assassination_attempt',
       'emiss_agr', 'emiss_agropec', 'emiss_pec', 'f_emitted_count',
       'expen_agri', 'expen_env_man', 'expen_agr_org', 'expen_mining',
       'expen_petrol', 'expen_prom_ani_pro', 'expen_prom_veg_pro',
       'expen_other_agr', 'expen_agr_defense', 'expen_min_fuel',
       'illegal_mining', 'illegal_other', 'illegal_industry', 'audits'],
      dtype=object)

In [341]:
#missing expenditure vars: 
#np.unique(df[df['expen_agri_y'].isna()].ID)

In [342]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTSS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_BORRACHA E PLASTICO': 0,
 'n_companies_TEXTEIS': 0,
 'n_companies_PESQUISA E DESENVOLVIMENTO': 0,
 'n_companies_TRANSPORTE AEREO': 0,
 'n_companies_FUMO': 0,
 'n_companies_REFINO PETROLEO': 0,
 'n_companies_': 0,
 'n_jobs_ADMIN PUBLICA': 0,
 'n_jobs_AGRICULTURA': 0,
 'n_jobs_ALIMENTOS E BEBIDAS': 0,
 'n_jobs_ALOJAMENTO E ALIMENTACAO': 0,
 'n_jobs_ALUGUEL EQUIPAMENTO': 0,
 'n_jobs_ATACADO': 0,
 'n_jobs_ATIVIDADES ASSOCIATIVAS': 0,
 'n_jobs_AUTOMOVEIS E TRANSPORTE': 0,
 'n_jobs_AUX FINANCIERO': 0,
 'n_jobs_COMERCIO REP VEICULOS': 0,
 'n_jobs_CONSTRUCAO': 0,
 'n_jobs_CORREIO E TELECOM': 0,
 'n_jobs_CULTURA E ESPORTE': 0,
 'n_jobs_EDICAO E IMPRESSAO': 0,
 'n_jobs_EDUCACAO': 0,
 'n_jobs_ELETRICIDADE E GAS': 0,
 'n_jobs_FINANCAS': 0,
 'n_jobs_LIMPEZA E ESGOTO': 0,
 'n_jobs_MAQUINARIA': 0,
 'n_jobs_METALURGIA BASICA': 0,
 'n_jobs_MINEIRACAO': 0,
 'n_jobs_PROD MADERA': 0,
 'n_jobs_PROD MINERAIS NAO METALICOS': 0,
 'n_jobs_SAUDE': 0,
 'n_jobs_SERVICOS A companies': 0,
 'n_jobs_SERVICOS PESSOAIS': 0,
 'n_jobs_TRANSPORTE OUTROS': 0,
 'n_jobs_TRANSPORTE TERRESTRE': 0,
 'n_jobs_TRATAMENTO E DISTRIBUCAO AGUA': 0,
 'n_jobs_VAREJO': 0,
 'n_jobs_INFORMATICA': 0,
 'n_jobs_SEGUROS E PREVIDENCIA': 0,
 'n_jobs_PROD METALICOS': 0,
 'n_jobs_SERVICOS DOMESTICOS': 0,
 'n_jobs_SILVICULTURA E FLORESTAL': 0,
 'n_jobs_VESTUARIO': 0,
 'n_jobs_CELULOSE E PAPEL': 0,
 'n_jobs_ORGANISMOS INTERNACIONAIS': 0,
 'n_jobs_PETROLEO E GAS': 0,
 'n_jobs_PESCA E AQUICULTURA': 0,
 'n_jobs_QUIMICOS': 0,
 'n_jobs_TRANSPORTE AQUAVIARIO': 0,
 'n_jobs_IMOBILIARIA': 0,
 'n_jobs_RECICLAGEM': 0,
 'n_jobs_COUROS E CALCADO': 0,
 'n_jobs_BORRACHA E PLASTICO': 0,
 'n_jobs_TEXTEIS': 0,
 'n_jobs_PESQUISA E DESENVOLVIMENTO': 0,
 'n_jobs_TRANSPORTE AEREO': 0,
 'n_jobs_FUMO': 0,
 'n_jobs_REFINO PETROLEO': 0,
 'n_jobs_': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 4,
 'area': 4,
 'per': 4,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'emiss_agr': 4,
 'emiss_agropec': 4,
 'emiss_pec': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4}

## Illegal mining data by municipality

In [343]:
#this is also in year_deforest so I don't double merge

In [344]:
#illegal_mine = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/illegal_mining.csv')
#df = pd.merge(df, illegal_mine,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

## Violence

In [345]:
#made all NAs 0 here
#ended up also commenting this out because it's repeated in the year_deforest dataset

In [346]:
#violence = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/violence_all.csv')
#violence.fillna(0)
#violence = violence[['year', 'murder_threats', 'assassination', 'assassination_attempt', 'munic_id']]
#df = pd.merge(df, violence,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

## Fines

In [347]:
#also in year_deforest

In [348]:
#fines = pd.read_csv('/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/CSV/fines.csv')
#fines = fines[['munic_id', 'year', 'f_emitted_count']]
#df = pd.merge(df, fines,  how = 'left', left_on = ['ID','year'], right_on = ['munic_id','year'])

In [349]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTSS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_BORRACHA E PLASTICO': 0,
 'n_companies_TEXTEIS': 0,
 'n_companies_PESQUISA E DESENVOLVIMENTO': 0,
 'n_companies_TRANSPORTE AEREO': 0,
 'n_companies_FUMO': 0,
 'n_companies_REFINO PETROLEO': 0,
 'n_companies_': 0,
 'n_jobs_ADMIN PUBLICA': 0,
 'n_jobs_AGRICULTURA': 0,
 'n_jobs_ALIMENTOS E BEBIDAS': 0,
 'n_jobs_ALOJAMENTO E ALIMENTACAO': 0,
 'n_jobs_ALUGUEL EQUIPAMENTO': 0,
 'n_jobs_ATACADO': 0,
 'n_jobs_ATIVIDADES ASSOCIATIVAS': 0,
 'n_jobs_AUTOMOVEIS E TRANSPORTE': 0,
 'n_jobs_AUX FINANCIERO': 0,
 'n_jobs_COMERCIO REP VEICULOS': 0,
 'n_jobs_CONSTRUCAO': 0,
 'n_jobs_CORREIO E TELECOM': 0,
 'n_jobs_CULTURA E ESPORTE': 0,
 'n_jobs_EDICAO E IMPRESSAO': 0,
 'n_jobs_EDUCACAO': 0,
 'n_jobs_ELETRICIDADE E GAS': 0,
 'n_jobs_FINANCAS': 0,
 'n_jobs_LIMPEZA E ESGOTO': 0,
 'n_jobs_MAQUINARIA': 0,
 'n_jobs_METALURGIA BASICA': 0,
 'n_jobs_MINEIRACAO': 0,
 'n_jobs_PROD MADERA': 0,
 'n_jobs_PROD MINERAIS NAO METALICOS': 0,
 'n_jobs_SAUDE': 0,
 'n_jobs_SERVICOS A companies': 0,
 'n_jobs_SERVICOS PESSOAIS': 0,
 'n_jobs_TRANSPORTE OUTROS': 0,
 'n_jobs_TRANSPORTE TERRESTRE': 0,
 'n_jobs_TRATAMENTO E DISTRIBUCAO AGUA': 0,
 'n_jobs_VAREJO': 0,
 'n_jobs_INFORMATICA': 0,
 'n_jobs_SEGUROS E PREVIDENCIA': 0,
 'n_jobs_PROD METALICOS': 0,
 'n_jobs_SERVICOS DOMESTICOS': 0,
 'n_jobs_SILVICULTURA E FLORESTAL': 0,
 'n_jobs_VESTUARIO': 0,
 'n_jobs_CELULOSE E PAPEL': 0,
 'n_jobs_ORGANISMOS INTERNACIONAIS': 0,
 'n_jobs_PETROLEO E GAS': 0,
 'n_jobs_PESCA E AQUICULTURA': 0,
 'n_jobs_QUIMICOS': 0,
 'n_jobs_TRANSPORTE AQUAVIARIO': 0,
 'n_jobs_IMOBILIARIA': 0,
 'n_jobs_RECICLAGEM': 0,
 'n_jobs_COUROS E CALCADO': 0,
 'n_jobs_BORRACHA E PLASTICO': 0,
 'n_jobs_TEXTEIS': 0,
 'n_jobs_PESQUISA E DESENVOLVIMENTO': 0,
 'n_jobs_TRANSPORTE AEREO': 0,
 'n_jobs_FUMO': 0,
 'n_jobs_REFINO PETROLEO': 0,
 'n_jobs_': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 4,
 'area': 4,
 'per': 4,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'emiss_agr': 4,
 'emiss_agropec': 4,
 'emiss_pec': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4}

## Finbra

In [350]:
#codes aren't merging correctly here, there's an issue with municpality ids being different!

In [351]:
#pib.Rdata
finbra_read = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/finbra2001-2015.Rdata')
finbra_df = pd.DataFrame(finbra_read['finbra_2001_2015'])

finbra_df.cd_ibge_6 = finbra_df.cd_ibge_6.astype(int)
finbra_df.y = finbra_df.y.astype(int)

finbra_df.head()
#df = pd.merge(df, finbra_df,  how = 'left', left_on = ['ID','year'], right_on = ['cd_ibge_6','y'])

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [ ]:
#use tables to map 6 digit code from 7 digit code

In [352]:
finbra_df.head()

,cd_ibge_6,y,rev_total,rev_curr,rev_trib,rev_tax,rev_fee,rev_tr_curr,rev_tr_fed,rev_tr_stt,...,exp_ind,exp_heal_san,exp_assist,exp_transp,exp_secur,exp_energy,exp_admin,codigo,id,id2
0,431453,2001,2758335.41,2758335.41,6.555268e+04,4.331561e+04,22237.070000,2547699.62,1512795.74,1034903.88,...,362316.540000,265031.240,22846.1500,0.0,5337.26,0.00,NaN,NaN,.2001,4314532001
1,431453,2002,1973343.31,2136505.56,1.184666e+05,1.013939e+05,16159.060000,1924668.31,668256.74,1230217.45,...,3733.949951,452991.125,0.0000,278591.8,16365.81,40513.07,NaN,NaN,.2002,4314532002
2,421265,2013,9365629.00,9365629.00,1.260199e+05,1.089185e+05,12907.500000,9154815.00,6183653.00,2237162.00,...,16886.099609,988255.000,138301.4375,0.0,0.00,0.00,1492860.125,NaN,.2013,4212652013
3,500627,2013,20841374.00,20725176.00,2.806561e+06,2.773809e+06,32752.500000,17692492.00,6929948.50,10463405.00,...,0.000000,3325298.500,613889.8750,48373.0,0.00,0.00,4512029.000,NaN,.2013,5006272013
4,150475,2013,25632392.00,25632392.00,9.417746e+05,9.291695e+05,12605.080078,24414776.00,10333942.00,2591715.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.2013,1504752013

In [353]:
df.head()

,ID,forest.diff,FID,x,y,year,forest.l,nn_forest.l,rain1,elevation,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,5105622,-10.0,8775051,-58.125,-15.675,2010,23.0,26.75,13.99613,208.0,...,0.0,7191.0,95562.05,0.0,0.0,0.0,0.000000,0.0,1.636956,0.0
1,1303809,0.0,8084085,-67.725,0.425,2010,97.0,97.00,42.30215,112.0,...,0.0,112869.9,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
2,1300409,0.0,8350536,-64.025,1.825,2014,97.0,97.00,25.07125,538.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,1100940,13.0,8465515,-62.425,-9.425,2014,74.0,74.50,23.50903,165.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.088211,0.0,0.000000,0.0
4,5103379,-9.0,8749953,-58.475,-9.575,2014,92.0,88.25,32.21404,264.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [354]:
dict(sorted((df.isna().sum()).to_dict().items(), key=lambda item: item[1]))

{'ID': 0,
 'forest.diff': 0,
 'FID': 0,
 'x': 0,
 'y': 0,
 'year': 0,
 'forest.l': 0,
 'nn_forest.l': 0,
 'rain1': 0,
 'elevation': 0,
 'slope': 0,
 'aspect': 0,
 'near_mines': 0,
 'near_roads': 0,
 'near_hidrovia': 0,
 'indigenous_homol': 0,
 'mun_election_year': 0,
 'new_forest_code': 0,
 'lula': 0,
 'dilma': 0,
 'temer': 0,
 'bolsonaro': 0,
 'fed_election_year': 0,
 'populacao': 0,
 'pib_pc': 0,
 'ironore': 0,
 'silver': 0,
 'copper': 0,
 'gold': 0,
 'soy_price': 0,
 'beef_price': 0,
 'ag_jobs': 0,
 'mining_jobs': 0,
 'public_jobs': 0,
 'construction_jobs': 0,
 'id_municipio': 0,
 'ano': 0,
 'n_companies_PUBLIC ADMIN': 0,
 'n_companies_AGRICULTURE': 0,
 'n_companies_FOOD AND DRINKS': 0,
 'n_companies_ACCOMODATION AND FOOD': 0,
 'n_companies_EQUIPMENT RENTAL': 0,
 'n_companies_WHOLESALE': 0,
 'n_companies_ASSOCIATIVE ACTIVITIES': 0,
 'n_companies_AUTOMOBILES AND TRANSPORT': 0,
 'n_companies_FINANCIAL ASSISTANCE': 0,
 'n_companies_TRADE REP VEHICLES': 0,
 'n_companies_CONSTRUCTION': 0,
 'n_companies_MAIL AND TELECOM': 0,
 'n_companies_CULTURE AND SPORT': 0,
 'n_companies_EDITING AND PRINTING': 0,
 'n_companies_EDUCATION': 0,
 'n_companies_ELECTRICITY AND GAS': 0,
 'n_companies_FINANCES': 0,
 'n_companies_CLEANING AND SEWAGE': 0,
 'n_companies_MACHINERY': 0,
 'n_companies_BASIC METALLURGY': 0,
 'n_companies_MINING': 0,
 'n_companies_WOOD PROD': 0,
 'n_companies_NON-METALLIC MINERAL PRODUCTSS': 0,
 'n_companies_HEALTH': 0,
 'n_companies_SERVICES FOR COMPANIES': 0,
 'n_companies_PERSONAL SERVICES': 0,
 'n_companies_TRANSPORTATION': 0,
 'n_companies_GROUND TRANSPORT': 0,
 'n_companies_WATER TREATMENT AND DISTRIBUTION': 0,
 'n_companies_RETAIL': 0,
 'n_companies_COMPUTING': 0,
 'n_companies_INSURANCE AND SOCIAL SECURITY': 0,
 'n_companies_METALLIC PRODUCTS': 0,
 'n_companies_DOMESTIC SERVICES': 0,
 'n_companies_FORESTRY': 0,
 'n_companies_CLOTHING': 0,
 'n_companies_PAPER': 0,
 'n_companies_INTERNATIONAL BODIES': 0,
 'n_companies_OIL AND GAS': 0,
 'n_companies_FISHING AND AQUACULTURE': 0,
 'n_companies_CHEMICALS': 0,
 'n_companies_WATER TRANSPORTATION': 0,
 'n_companies_REAL ESTATE': 0,
 'n_companies_RECYCLING': 0,
 'n_companies_LEATHERS AND FOOTWEAR': 0,
 'n_companies_BORRACHA E PLASTICO': 0,
 'n_companies_TEXTEIS': 0,
 'n_companies_PESQUISA E DESENVOLVIMENTO': 0,
 'n_companies_TRANSPORTE AEREO': 0,
 'n_companies_FUMO': 0,
 'n_companies_REFINO PETROLEO': 0,
 'n_companies_': 0,
 'n_jobs_ADMIN PUBLICA': 0,
 'n_jobs_AGRICULTURA': 0,
 'n_jobs_ALIMENTOS E BEBIDAS': 0,
 'n_jobs_ALOJAMENTO E ALIMENTACAO': 0,
 'n_jobs_ALUGUEL EQUIPAMENTO': 0,
 'n_jobs_ATACADO': 0,
 'n_jobs_ATIVIDADES ASSOCIATIVAS': 0,
 'n_jobs_AUTOMOVEIS E TRANSPORTE': 0,
 'n_jobs_AUX FINANCIERO': 0,
 'n_jobs_COMERCIO REP VEICULOS': 0,
 'n_jobs_CONSTRUCAO': 0,
 'n_jobs_CORREIO E TELECOM': 0,
 'n_jobs_CULTURA E ESPORTE': 0,
 'n_jobs_EDICAO E IMPRESSAO': 0,
 'n_jobs_EDUCACAO': 0,
 'n_jobs_ELETRICIDADE E GAS': 0,
 'n_jobs_FINANCAS': 0,
 'n_jobs_LIMPEZA E ESGOTO': 0,
 'n_jobs_MAQUINARIA': 0,
 'n_jobs_METALURGIA BASICA': 0,
 'n_jobs_MINEIRACAO': 0,
 'n_jobs_PROD MADERA': 0,
 'n_jobs_PROD MINERAIS NAO METALICOS': 0,
 'n_jobs_SAUDE': 0,
 'n_jobs_SERVICOS A companies': 0,
 'n_jobs_SERVICOS PESSOAIS': 0,
 'n_jobs_TRANSPORTE OUTROS': 0,
 'n_jobs_TRANSPORTE TERRESTRE': 0,
 'n_jobs_TRATAMENTO E DISTRIBUCAO AGUA': 0,
 'n_jobs_VAREJO': 0,
 'n_jobs_INFORMATICA': 0,
 'n_jobs_SEGUROS E PREVIDENCIA': 0,
 'n_jobs_PROD METALICOS': 0,
 'n_jobs_SERVICOS DOMESTICOS': 0,
 'n_jobs_SILVICULTURA E FLORESTAL': 0,
 'n_jobs_VESTUARIO': 0,
 'n_jobs_CELULOSE E PAPEL': 0,
 'n_jobs_ORGANISMOS INTERNACIONAIS': 0,
 'n_jobs_PETROLEO E GAS': 0,
 'n_jobs_PESCA E AQUICULTURA': 0,
 'n_jobs_QUIMICOS': 0,
 'n_jobs_TRANSPORTE AQUAVIARIO': 0,
 'n_jobs_IMOBILIARIA': 0,
 'n_jobs_RECICLAGEM': 0,
 'n_jobs_COUROS E CALCADO': 0,
 'n_jobs_BORRACHA E PLASTICO': 0,
 'n_jobs_TEXTEIS': 0,
 'n_jobs_PESQUISA E DESENVOLVIMENTO': 0,
 'n_jobs_TRANSPORTE AEREO': 0,
 'n_jobs_FUMO': 0,
 'n_jobs_REFINO PETROLEO': 0,
 'n_jobs_': 0,
 'n_companies_TOTAL': 0,
 'n_jobs_TOTAL': 0,
 'munic_id': 4,
 'area': 4,
 'per': 4,
 'murder_threats': 4,
 'assassination': 4,
 'assassination_attempt': 4,
 'emiss_agr': 4,
 'emiss_agropec': 4,
 'emiss_pec': 4,
 'f_emitted_count': 4,
 'expen_agri': 4,
 'expen_env_man': 4,
 'expen_agr_org': 4,
 'expen_mining': 4,
 'expen_petrol': 4,
 'expen_prom_ani_pro': 4,
 'expen_prom_veg_pro': 4,
 'expen_other_agr': 4,
 'expen_agr_defense': 4,
 'expen_min_fuel': 4,
 'illegal_mining': 4,
 'illegal_other': 4,
 'illegal_industry': 4,
 'audits': 4}

## Drop NAs (for Now)

In [355]:
#todo: clean duplicate columns

In [356]:
np.array(df.columns)

array(['ID', 'forest.diff', 'FID', 'x', 'y', 'year', 'forest.l',
       'nn_forest.l', 'rain1', 'elevation', 'slope', 'aspect',
       'near_mines', 'near_roads', 'near_hidrovia', 'indigenous_homol',
       'mun_election_year', 'new_forest_code', 'lula', 'dilma', 'temer',
       'bolsonaro', 'fed_election_year', 'populacao', 'pib_pc', 'ironore',
       'silver', 'copper', 'gold', 'soy_price', 'beef_price', 'ag_jobs',
       'mining_jobs', 'public_jobs', 'construction_jobs', 'id_municipio',
       'ano', 'n_companies_PUBLIC ADMIN', 'n_companies_AGRICULTURE',
       'n_companies_FOOD AND DRINKS', 'n_companies_ACCOMODATION AND FOOD',
       'n_companies_EQUIPMENT RENTAL', 'n_companies_WHOLESALE',
       'n_companies_ASSOCIATIVE ACTIVITIES',
       'n_companies_AUTOMOBILES AND TRANSPORT',
       'n_companies_FINANCIAL ASSISTANCE',
       'n_companies_TRADE REP VEHICLES', 'n_companies_CONSTRUCTION',
       'n_companies_MAIL AND TELECOM', 'n_companies_CULTURE AND SPORT',
       'n_companies_EDITING AND PRINTING', 'n_companies_EDUCATION',
       'n_companies_ELECTRICITY AND GAS', 'n_companies_FINANCES',
       'n_companies_CLEANING AND SEWAGE', 'n_companies_MACHINERY',
       'n_companies_BASIC METALLURGY', 'n_companies_MINING',
       'n_companies_WOOD PROD',
       'n_companies_NON-METALLIC MINERAL PRODUCTSS', 'n_companies_HEALTH',
       'n_companies_SERVICES FOR COMPANIES',
       'n_companies_PERSONAL SERVICES', 'n_companies_TRANSPORTATION',
       'n_companies_GROUND TRANSPORT',
       'n_companies_WATER TREATMENT AND DISTRIBUTION',
       'n_companies_RETAIL', 'n_companies_COMPUTING',
       'n_companies_INSURANCE AND SOCIAL SECURITY',
       'n_companies_METALLIC PRODUCTS', 'n_companies_DOMESTIC SERVICES',
       'n_companies_FORESTRY', 'n_companies_CLOTHING',
       'n_companies_PAPER', 'n_companies_INTERNATIONAL BODIES',
       'n_companies_OIL AND GAS', 'n_companies_FISHING AND AQUACULTURE',
       'n_companies_CHEMICALS', 'n_companies_WATER TRANSPORTATION',
       'n_companies_REAL ESTATE', 'n_companies_RECYCLING',
       'n_companies_LEATHERS AND FOOTWEAR',
       'n_companies_BORRACHA E PLASTICO', 'n_companies_TEXTEIS',
       'n_companies_PESQUISA E DESENVOLVIMENTO',
       'n_companies_TRANSPORTE AEREO', 'n_companies_FUMO',
       'n_companies_REFINO PETROLEO', 'n_companies_',
       'n_jobs_ADMIN PUBLICA', 'n_jobs_AGRICULTURA',
       'n_jobs_ALIMENTOS E BEBIDAS', 'n_jobs_ALOJAMENTO E ALIMENTACAO',
       'n_jobs_ALUGUEL EQUIPAMENTO', 'n_jobs_ATACADO',
       'n_jobs_ATIVIDADES ASSOCIATIVAS', 'n_jobs_AUTOMOVEIS E TRANSPORTE',
       'n_jobs_AUX FINANCIERO', 'n_jobs_COMERCIO REP VEICULOS',
       'n_jobs_CONSTRUCAO', 'n_jobs_CORREIO E TELECOM',
       'n_jobs_CULTURA E ESPORTE', 'n_jobs_EDICAO E IMPRESSAO',
       'n_jobs_EDUCACAO', 'n_jobs_ELETRICIDADE E GAS', 'n_jobs_FINANCAS',
       'n_jobs_LIMPEZA E ESGOTO', 'n_jobs_MAQUINARIA',
       'n_jobs_METALURGIA BASICA', 'n_jobs_MINEIRACAO',
       'n_jobs_PROD MADERA', 'n_jobs_PROD MINERAIS NAO METALICOS',
       'n_jobs_SAUDE', 'n_jobs_SERVICOS A companies',
       'n_jobs_SERVICOS PESSOAIS', 'n_jobs_TRANSPORTE OUTROS',
       'n_jobs_TRANSPORTE TERRESTRE',
       'n_jobs_TRATAMENTO E DISTRIBUCAO AGUA', 'n_jobs_VAREJO',
       'n_jobs_INFORMATICA', 'n_jobs_SEGUROS E PREVIDENCIA',
       'n_jobs_PROD METALICOS', 'n_jobs_SERVICOS DOMESTICOS',
       'n_jobs_SILVICULTURA E FLORESTAL', 'n_jobs_VESTUARIO',
       'n_jobs_CELULOSE E PAPEL', 'n_jobs_ORGANISMOS INTERNACIONAIS',
       'n_jobs_PETROLEO E GAS', 'n_jobs_PESCA E AQUICULTURA',
       'n_jobs_QUIMICOS', 'n_jobs_TRANSPORTE AQUAVIARIO',
       'n_jobs_IMOBILIARIA', 'n_jobs_RECICLAGEM',
       'n_jobs_COUROS E CALCADO', 'n_jobs_BORRACHA E PLASTICO',
       'n_jobs_TEXTEIS', 'n_jobs_PESQUISA E DESENVOLVIMENTO',
       'n_jobs_TRANSPORTE AEREO', 'n_jobs_FUMO', 'n_jobs_REFINO PETROLEO',
       'n_jobs_', 'n_companies_TOTAL', 'n_jobs_TOTAL', 'munic_id', 'area',
       'per', 'murder_threats', 'assassination', 'assassination_attempt',
       'emiss_agr', 'emiss_agropec', 'emiss_pec', 'f_emitted_count',
       'expen_agri', 'expen_env_man', 'expen_agr_org', 'expen_mining',
       'expen_petrol', 'expen_prom_ani_pro', 'expen_prom_veg_pro',
       'expen_other_agr', 'expen_agr_defense', 'expen_min_fuel',
       'illegal_mining', 'illegal_other', 'illegal_industry', 'audits'],
      dtype=object)

In [357]:
df = df.dropna()

In [358]:
df.shape

(10125, 167)

In [359]:
df.to_csv('full_data.csv', index=False)