In [1]:
import pandas as pd
import pyreadr
import numpy as np
from tqdm import tqdm

In [2]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/cand_prefeito.Rdata'
pathvote = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/cand_prefeito_vote.Rdata'

df = pyreadr.read_r(path)['cand']
vote = pyreadr.read_r(pathvote)['cand']

LibrdataError: Unable to read from file

In [4]:
print(df.shape)
print(vote.shape)

(100307, 27)
(96838, 13)

In [8]:
df.head()

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,data_nascimento,idade,genero,instrucao,estado_civil,nacionalidade,sigla_uf_nascimento,municipio_nascimento,email,raca
0,1996,eleicao ordinaria,PI,2211001,12190,NaN,NaN,NaN,NaN,16,...,1966-11-18,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996,eleicao ordinaria,SE,2800308,31054,NaN,NaN,NaN,NaN,16,...,1956-05-23,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996,eleicao ordinaria,RS,4314902,88013,NaN,NaN,NaN,NaN,56,...,1950-07-12,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996,eleicao ordinaria,MG,3106200,41238,NaN,NaN,NaN,NaN,16,...,1953-06-07,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996,eleicao ordinaria,PB,2507507,20516,NaN,NaN,NaN,NaN,16,...,1953-04-04,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
vote.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
0,1996,1,eleicao ordinaria,AL,2704302,27855,prefeito,PSD,41,NaN,NaN,nao eleito,2388
1,1996,1,eleicao ordinaria,AM,1302603,2550,prefeito,PSTU,16,NaN,NaN,nao eleito,1713
2,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PAN,26,NaN,NaN,nao eleito,15721
3,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PCO,29,NaN,NaN,nao eleito,705
4,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PGT,30,NaN,NaN,nao eleito,989

In [14]:
combos = list(zip(vote.groupby(['ano','id_municipio']).size().reset_index().rename(columns={0:'count'}).ano, vote.groupby(['ano','id_municipio']).size().reset_index().rename(columns={0:'count'}).id_municipio))

In [16]:
for c in combos[0:10]:
    this_year = c[0]
    this_mun = c[1]