In [2]:
import pandas as pd
import pyreadr

In [5]:
pd.set_option('display.max_columns', None)

In [3]:
result1 = pyreadr.read_r('/Users/annieulichney/Desktop/Deforestation/year_deforest.RData')
df2 = pd.DataFrame(result1['year_deforest'])

df2 = df2.drop(['term', 'inc', 'area', 'per'], axis = 1)
df2['audits'] = df2['audits'].fillna(0)
df2.head()

,year,munic_id,murder_threats,assassination,assassination_attempt,emiss_agr,emiss_agropec,emiss_pec,f_emitted_count,expen_agri,...,expen_petrol,expen_prom_ani_pro,expen_prom_veg_pro,expen_other_agr,expen_agr_defense,expen_min_fuel,illegal_mining,illegal_other,illegal_industry,audits
0,2000,1100015,0.0,0.0,0.0,0.0,0.0,0.0,36.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
1,2000,1100023,0.0,0.0,0.0,0.0,0.0,0.0,102.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,173.167599,0.0,1744.914255,0.0
2,2000,1100031,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,2000,1100049,0.0,0.0,0.0,0.0,0.0,0.0,46.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
4,2000,1100056,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [9]:
subset_cols = ['year', 'munic_id']

duplicated_rows = df2[df2.duplicated(subset=subset_cols, keep=False)]

# Display the duplicated rows side by side for comparison
duplicated_rows_sorted = duplicated_rows.sort_values(by=subset_cols)
duplicated_rows_side_by_side = duplicated_rows_sorted.groupby(subset_cols).apply(lambda x: x.reset_index(drop=True))
duplicated_rows_side_by_side.head(30)

                 year  munic_id  murder_threats  assassination  \
year munic_id
2001 1502400  0  2001   1502400             9.0            0.0
              1  2001   1502400             1.0            0.0
     1504208  0  2001   1504208            10.0            1.0
              1  2001   1504208             5.0            3.0
     1506187  0  2001   1506187            10.0            0.0
              1  2001   1506187             4.0            0.0
2002 1501253  0  2002   1501253             1.0            0.0
              1  2002   1501253             0.0            1.0
     1505031  0  2002   1505031             0.0            3.0
              1  2002   1505031             2.0            0.0
     1506161  0  2002   1506161             0.0            3.0
              1  2002   1506161             3.0            0.0
2003 1501204  0  2003   1501204             1.0            0.0
              1  2003   1501204             2.0            2.0
     1506187  0  2003   1506187             0.0            1.0
              1  2003   1506187             1.0            0.0
     5108600  0  2003   5108600             1.0            0.0
              1  2003   5108600             0.0            2.0
2004 1500602  0  2004   1500602             5.0            0.0
              1  2004   1500602            12.0            1.0
     1500859  0  2004   1500859             2.0            0.0
              1  2004   1500859             3.0            1.0
     1502400  0  2004   1502400             1.0            0.0
              1  2004   1502400             1.0            0.0
     1502764  0  2004   1502764             1.0            0.0
              1  2004   1502764             1.0            2.0
     1503705  0  2004   1503705             3.0            0.0
              1  2004   1503705             7.0            0.0
     1504208  0  2004   1504208             1.0            0.0
              1  2004   1504208            13.0            0.0

                 assassination_attempt    emiss_agr  emiss_agropec  \
year munic_id
2001 1502400  0                    0.0   951.835802      558092.78
              1                    0.0   951.835802      558092.78
     1504208  0                    0.0  2190.747839    17636407.77
              1                    0.0  2190.747839    17636407.77
     1506187  0                    0.0  2504.960140     5811136.00
              1                    0.0  2504.960140     5811136.00
2002 1501253  0                    1.0  3909.927312     6168509.00
              1                    1.0  3909.927312     6168509.00
     1505031  0                    0.0  3185.825668    23061686.21
              1                    0.0  3185.825668    23061686.21
     1506161  0                    0.0  1499.361815     3622161.00
              1                    1.0  1499.361815     3622161.00
2003 1501204  0                    0.0   544.051608     1697588.00
              1                    0.0   544.051608     1697588.00
     1506187  0                    0.0  3819.140377     8920235.00
              1                    0.0  3819.140377     8920235.00
     5108600  0                    0.0  2679.417958    17804352.88
              1                    0.0  2679.417958    17804352.88
2004 1500602  0                    0.0  5014.668602    31301721.00
              1                    1.0  5014.668602    31301721.00
     1500859  0                    1.0  1957.613023    13106327.00
              1                    3.0  1957.613023    13106327.00
     1502400  0                    0.0  1404.651241      568044.42
              1                    0.0  1404.651241      568044.42
     1502764  0                    1.0  3386.485179    22394438.00
              1                    0.0  3386.485179    22394438.00
     1503705  0                    1.0  3593.063522     9874964.00
              1                    2.0  3593.063522     9874964.00
     1504208  0                    0.0  2658.714282    16998263.42
              1                    2.0  2658.714282    16998263.42

                    emiss_pec  f_emitted_count  expen_agri  expen_env_man  \
year munic_id
2001 1502400  0  6.628000e+04              0.0        0.00           0.00
              1  6.628000e+04              0.0        0.00           0.00
     1504208  0  4.322767e+05            166.0        0.00           0.00
              1  4.322767e+05            166.0        0.00           0.00
     1506187  0  5.082922e+05             18.0        0.00           0.00
              1  5.082922e+05             18.0        0.00           0.00
2002 1501253  0  3.683723e+05              1.0        0.00           0.00
              1  3.683723e+05              1.0        0.00           0.00
     1505031  0  3.542775e+05             28.0        0.00           0.00
              1  3.542775e+05             28.0        0.00           0.00
     1506161  0  5.978859e+05              0.0        0.00           0.00
              1  5.978859e+05              0.0        0.00           0.00
2003 1501204  0  6.137100e+04              0.0        0.00           0.00
              1  6.137100e+04              0.0        0.00           0.00
     1506187  0  6.236893e+05              0.0        0.00           0.00
              1  6.236893e+05              0.0        0.00           0.00
     5108600  0  8.702529e+05              0.0        0.00           0.00
              1  8.702529e+05              0.0        0.00           0.00
2004 1500602  0  6.043402e+05              0.0  1053891.66      450375.74
              1  6.043402e+05              0.0  1053891.66      450375.74
     1500859  0  2.296969e+05              2.0    80662.19       13543.53
              1  2.296969e+05              2.0    80662.19       13543.53
     1502400  0  7.249994e+04              0.0   439399.39       63106.96
              1  7.249994e+04              0.0   439399.39       63106.96
     1502764  0  1.132746e+06              0.0   101388.04           0.00
              1  1.132746e+06              0.0   101388.04           0.00
     1503705  0  5.914084e+05              0.0    16230.00        1900.00
              1  5.914084e+05              0.0    16230.00        1900.00
     1504208  0  1.633019e+06              0.0   923058.24     1618356.80
              1  1.633019e+06              0.0   923058.24     1618356.80

                 expen_agr_org  expen_mining  expen_petrol  \
year munic_id
2001 1502400  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1504208  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1506187  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
2002 1501253  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1505031  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1506161  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
2003 1501204  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1506187  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     5108600  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
2004 1500602  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1500859  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1502400  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1502764  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1503705  0            0.0           0.0           0.0
              1            0.0           0.0           0.0
     1504208  0            0.0           0.0           0.0
              1            0.0           0.0           0.0

                 expen_prom_ani_pro  expen_prom_veg_pro  expen_other_agr  \
year munic_id
2001 1502400  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1504208  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1506187  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
2002 1501253  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1505031  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1506161  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
2003 1501204  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1506187  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     5108600  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
2004 1500602  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1500859  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1502400  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1502764  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1503705  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0
     1504208  0                 0.0                 0.0              0.0
              1                 0.0                 0.0              0.0

                 expen_agr_defense  expen_min_fuel  illegal_mining  \
year munic_id
2001 1502400  0                0.0             0.0       61.223047
              1                0.0             0.0       61.223047
     1504208  0                0.0             0.0       36.831282
              1                0.0             0.0       36.831282
     1506187  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
2002 1501253  0                0.0             0.0      136.500861
              1                0.0             0.0      136.500861
     1505031  0                0.0             0.0       37.867175
              1                0.0             0.0       37.867175
     1506161  0                0.0             0.0       31.225665
              1                0.0             0.0       31.225665
2003 1501204  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
     1506187  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
     5108600  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
2004 1500602  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
     1500859  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
     1502400  0                0.0             0.0       60.865540
              1                0.0             0.0       60.865540
     1502764  0                0.0             0.0     2126.288439
              1                0.0             0.0     2126.288439
     1503705  0                0.0             0.0        0.000000
              1                0.0             0.0        0.000000
     1504208  0                0.0             0.0       21.443555
              1                0.0             0.0       21.443555

                 illegal_other  illegal_industry  audits
year munic_id
2001 1502400  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1504208  0            0.0        164.853197     0.0
              1            0.0        164.853197     0.0
     1506187  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
2002 1501253  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1505031  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1506161  0            0.0          1.329985     0.0
              1            0.0          1.329985     0.0
2003 1501204  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1506187  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     5108600  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
2004 1500602  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1500859  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1502400  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1502764  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1503705  0            0.0          0.000000     0.0
              1            0.0          0.000000     0.0
     1504208  0            0.0        208.826211     0.0
              1            0.0        208.826211     0.0

In [7]:
#show duplicated df shape
duplicated_rows_side_by_side.shape

(84, 23)

In [8]:
#show original shape
df2.shape

(15242, 23)