In [269]:
import pandas as pd
import pyreadr
import numpy as np
from tqdm import tqdm

In [270]:
path = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/cand_prefeito.Rdata'
pathvote = '/Users/annieulichney/Library/CloudStorage/Box-Box/Deforestation_MachineLearning/Data/cand_prefeito_vote.Rdata'

df = pyreadr.read_r(path)['cand']
vote = pyreadr.read_r(pathvote)['cand']

In [271]:
#for each mun and each year want winning candidate, bio info, margin etc, 

#votes, total votes, pct votes, political party, incumbent runs, incumbent wins, seat limit

In [272]:
vote.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
0,1996,1,eleicao ordinaria,AL,2704302,27855,prefeito,PSD,41,NaN,NaN,nao eleito,2388
1,1996,1,eleicao ordinaria,AM,1302603,2550,prefeito,PSTU,16,NaN,NaN,nao eleito,1713
2,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PAN,26,NaN,NaN,nao eleito,15721
3,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PCO,29,NaN,NaN,nao eleito,705
4,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PGT,30,NaN,NaN,nao eleito,989

In [273]:
keep = vote[vote.resultado == 'eleito'][['ano', 'id_municipio', 'id_candidato_bd', 'sigla_partido' ,'votos']]
keep.columns = ['ano', 'id_municipio', 'id_candidato_bd', 'sigla_partido', 'votos_winner']

#total votes for that municipio that year
keep = pd.merge(keep, vote[['ano', 'id_municipio', 'votos']].groupby(['ano', 'id_municipio']).agg('sum').reset_index(), how = 'left', left_on = ['ano', 'id_municipio'], right_on = ['ano', 'id_municipio'])
keep.head()

    ano id_municipio id_candidato_bd sigla_partido  votos_winner  votos
0  2000      2708907         1265591           PSD          3147   4882
1  2000      1302553           19147           PST          1455   5658
2  2000      2903300         1071793           PAN          2135   3598
3  2000      2906907          962907           PSD          4614   8760
4  2000      2908606         1523132           PST          3643   8872

In [310]:
keep['incumbant_run'] = np.zeros(keep.shape[0])
keep['incumbant_win'] = np.zeros(keep.shape[0])
keep['term_lim_seat'] = np.zeros(keep.shape[0])
keep['margin'] = np.zeros(keep.shape[0])

In [311]:
#first find does incumbant run and does incumbant win? 
missing_incumbant = []

for i in tqdm(range(vote.shape[0])):
    row = vote.iloc[i]
    row

    #did they win? 
    if row.resultado == 'eleito':
        #check 4 years from current year for year+4 and id match
        incumbant_run = vote[(vote.ano == row.ano + 4) & (vote.id_candidato_bd == row.id_candidato_bd) & (vote.id_municipio == row.id_municipio)].shape[0]
        
       
        #if they run in 4 years, check if they win 
        if incumbant_run == 1:
            if vote[(vote.ano == row.ano + 4) & (vote.id_candidato_bd == row.id_candidato_bd)].shape[0] == 0:
                print('Missing data with :' + str(i))

            else:
                incumbant_win = int(vote[(vote.ano == row.ano + 4) & (vote.id_candidato_bd == row.id_candidato_bd)].resultado == 'eleito')
        
        
        #if they do not run in 4 years, win is 0
        if incumbant_run==0:
            incumbant_win = 0
        
        #stop if year is 2020 because 2024 not in dataset
        if row.ano == 2020:
            continue
        
        #update incumbent run and incumbent win for each row
        if keep[(keep.ano == row.ano+4)&(keep.id_municipio == row.id_municipio)].shape[0] == 0:
            #print('Missing row at :' + str(i) + 'year = ' + str(row.ano+4) + ' munic = ' + str(row.id_municipio))
            missing_incumbant.append([i, row.ano+4,row.id_municipio])
        else:
            keep.loc[keep[(keep.ano == row.ano+4)&(keep.id_municipio == row.id_municipio)].index[0], 'incumbant_run'] = incumbant_run
            keep.loc[keep[(keep.ano == row.ano+4)&(keep.id_municipio == row.id_municipio)].index[0], 'incumbant_win'] = incumbant_win

100%|██████████| 96838/96838 [13:59<00:00, 115.34it/s]

In [326]:


vote[(vote.ano == row.ano + 4) & (vote.id_candidato_bd == row.id_candidato_bd) & (vote.id_municipio == row.id_municipio)]

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
4974,2008,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,20971,1386484,eleito,5778

In [347]:
i = 658
row = vote.iloc[i]
row

ano                                  2004
turno                                   1
tipo_eleicao            eleicao ordinaria
sigla_uf                               MA
id_municipio                      2109700
id_municipio_tse                     8931
cargo                            prefeito
sigla_partido                         PAN
numero_candidato                       26
sequencial_candidato                   11
id_candidato_bd                   1637914
resultado                      nao eleito
votos                                1074
Name: 658, dtype: object

In [333]:
temp_frame = vote[(vote.id_candidato_bd == row.id_candidato_bd)&(vote.resultado == 'eleito')]
temp_frame = temp_frame.sort_values('ano').reset_index()
temp_frame

,index,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
0,36804,2004,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,44,1386484,eleito,5552
1,4974,2008,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,20971,1386484,eleito,5778

In [342]:
for index, row2 in temp_frame.iterrows():
        if temp_frame[temp_frame.ano == row2.ano + 4 ].shape[0] != 0:
            
            if keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)].shape[0] == 0:
                missing.append([i,row2.ano + 8,row2.id_municipio])
                #missing.append('Missing at ' + str(i) + ' year = ' + str(row.ano) + str(' munic = ') + str(row.id_municipio))
                                 
            else:
                print(row2.ano + 8)
                #keep.loc[keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)].index[0], 'term_lim_seat'] = 1

2012

In [345]:
keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)]

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct
16992,2016,2903409,1331685,PODE,4896,12114,1.0,0.0,0.0,503.0,0.40416

In [312]:
#now do if the seat is term limited: 
missing = []

for i in tqdm(range(vote.shape[0])):
    row = vote.iloc[i]
    
    temp_frame = vote[(vote.id_candidato_bd == row.id_candidato_bd)&(vote.resultado == 'eleito')]
    temp_frame = temp_frame.sort_values('ano').reset_index()
    
    for index, row2 in temp_frame.iterrows():
        if temp_frame[temp_frame.ano == row2.ano+4].shape[0] != 0:
            
            if keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)].shape[0] == 0:
                missing.append([i,row2.ano+8,row2.id_municipio])
                #missing.append('Missing at ' + str(i) + ' year = ' + str(row.ano) + str(' munic = ') + str(row.id_municipio))
                                 
            else:
                keep.loc[keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)].index[0], 'term_lim_seat'] = 1

100%|██████████| 96838/96838 [22:34<00:00, 71.51it/s]

In [313]:
#now get margin of victory


vote_missing = []
for i in tqdm(range(keep.shape[0])):
    row = keep.iloc[i]
    
    if vote[(vote.ano == row.ano) & (vote.id_municipio == row.id_municipio)].shape[0] == 0:
        vote_missing.append(i, row.ano, row.id_municipio)
    else:
        vote_sort = sorted(vote[(vote.ano == row.ano) & (vote.id_municipio == row.id_municipio)].votos, reverse = True)
        vote_sort.append(0)
        margin = vote_sort[0] - vote_sort[1]
        
    if keep[(keep.ano == row.ano) & (keep.id_municipio == row.id_municipio)].shape[0] != 0:
        keep.loc[keep[(keep.ano == row.ano) & (keep.id_municipio == row.id_municipio)].index[0], 'margin'] = margin

100%|██████████| 33756/33756 [10:02<00:00, 56.02it/s]

In [314]:
keep['votos_pct'] = keep.votos_winner/keep.votos

In [321]:
vote[vote.id_candidato_bd == '1386484'].sort_values('ano')

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
31293,2000,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,NaN,1386484,nao eleito,3497
36804,2004,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,44,1386484,eleito,5552
4974,2008,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,20971,1386484,eleito,5778
7458,2016,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,50000006487,1386484,nao eleito,4393
92059,2020,1,eleicao ordinaria,BA,2903409,33677,prefeito,PSD,55,50000993073,1386484,nao eleito,5144

In [ ]:
vote[vote.id_municipio == 2903409]

In [329]:
keep[keep.id_municipio == '2903409']

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct
658,2000,2903409,1331685,PPB,6012,9509,0.0,0.0,0.0,2515.0,0.632243
1298,2008,2903409,1386484,PP,5778,10706,1.0,1.0,1.0,850.0,0.539697
2915,2012,2903409,1620932,PP,4743,11247,0.0,0.0,1.0,404.0,0.421712
3428,2020,2903409,1588357,PP,7034,12256,0.0,0.0,0.0,1890.0,0.573923
12822,2004,2903409,1386484,PMDB,5552,10126,0.0,0.0,0.0,978.0,0.548292
16992,2016,2903409,1331685,PODE,4896,12114,1.0,0.0,0.0,503.0,0.404160

In [343]:
vote[vote.id_municipio == '2903409'].sort_values('ano')

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
3530,2000,1,eleicao ordinaria,BA,2903409,33677,prefeito,PPB,11,NaN,1331685,eleito,6012
31293,2000,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,NaN,1386484,nao eleito,3497
36804,2004,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,44,1386484,eleito,5552
51364,2004,1,eleicao ordinaria,BA,2903409,33677,prefeito,PL,22,2,840214,nao eleito,4574
4974,2008,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,20971,1386484,eleito,5778
76473,2008,1,eleicao ordinaria,BA,2903409,33677,prefeito,PRP,44,23165,1223898,nao eleito,4928
8625,2012,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,50000017354,1620932,eleito,4743
41732,2012,1,eleicao ordinaria,BA,2903409,33677,prefeito,PMDB,15,50000035727,1588357,nao eleito,2165
76839,2012,1,eleicao ordinaria,BA,2903409,33677,prefeito,PRP,44,50000021420,1223898,nao eleito,4339
7458,2016,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,50000006487,1386484,nao eleito,4393
47262,2016,1,eleicao ordinaria,BA,2903409,33677,prefeito,PODE,19,50000031821,1331685,eleito,4896
71558,2016,1,eleicao ordinaria,BA,2903409,33677,prefeito,PSB,40,50000003133,1620932,nao eleito,2825
9754,2020,1,eleicao ordinaria,BA,2903409,33677,prefeito,PP,11,50000769350,1588357,eleito,7034
46404,2020,1,eleicao ordinaria,BA,2903409,33677,prefeito,PSL,17,50000770485,726217,nao eleito,78
92059,2020,1,eleicao ordinaria,BA,2903409,33677,prefeito,PSD,55,50000993073,1386484,nao eleito,5144

In [344]:
keep[(keep.id_candidato_bd == '1386484')]

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct
1298,2008,2903409,1386484,PP,5778,10706,1.0,1.0,1.0,850.0,0.539697
12822,2004,2903409,1386484,PMDB,5552,10126,0.0,0.0,0.0,978.0,0.548292

In [315]:
keep[(keep.incumbant_run == 1) & (keep.term_lim_seat == 1)]

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct
1298,2008,2903409,1386484,PP,5778,10706,1.0,1.0,1.0,850.0,0.539697
1523,2008,4114203,391777,PP,9697,20469,1.0,0.0,1.0,1282.0,0.473741
1564,2008,2402402,1659301,PP,2665,5049,1.0,0.0,1.0,418.0,0.527827
1579,2008,1100304,406494,PP,18944,35301,1.0,0.0,1.0,4102.0,0.536642
1704,2008,4320354,1235889,PP,2199,3599,1.0,0.0,1.0,799.0,0.611003
...,...,...,...,...,...,...,...,...,...,...,...
32380,2012,2805802,883113,PSD,6815,12609,1.0,1.0,1.0,1021.0,0.540487
32458,2020,1301159,1216968,PSD,5202,12937,1.0,1.0,1.0,927.0,0.402102
33573,2020,2302404,291889,SOLIDARIEDADE,19507,31955,1.0,0.0,1.0,7579.0,0.610452
33727,2020,3129905,853340,PROS,2016,2016,1.0,1.0,1.0,2016.0,1.000000
33734,2020,5106455,667314,PROS,1102,2163,1.0,0.0,1.0,41.0,0.509478

In [340]:
keep[(keep.ano == row2.ano + 8) & (keep.id_municipio == row2.id_municipio)]

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct
16992,2016,2903409,1331685,PODE,4896,12114,1.0,0.0,0.0,503.0,0.40416

In [292]:
pd.merge(keep, df[['id_candidato_bd', 'genero', 'ocupacao', 'instrucao', 'ano', 'idade']], how = 'left', left_on = ['id_candidato_bd', 'ano'], right_on = ['id_candidato_bd', 'ano'])

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao,idade
0,2000,2708907,1265591,PSD,3147,4882,0.0,0.0,0.0,1412.0,0.644613,masculino,proprietario de estabelecimento comercial,ensino medio completo,45
1,2000,1302553,19147,PST,1455,5658,0.0,0.0,0.0,155.0,0.257158,masculino,medico,ensino superior completo,31
2,2000,2903300,1071793,PAN,2135,3598,0.0,0.0,0.0,708.0,0.593385,masculino,outros,ensino superior completo,51
3,2000,2906907,962907,PSD,4614,8760,0.0,0.0,0.0,640.0,0.526712,masculino,outros,ensino fundamental incompleto,58
4,2000,2908606,1523132,PST,3643,8872,0.0,0.0,0.0,1015.0,0.410618,masculino,proprietario de estabelecimento comercial,ensino fundamental completo,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125486,2020,1101807,932364,PROS,2484,4470,0.0,0.0,0.0,498.0,0.555705,feminino,servidor publico estadual,ensino superior completo,41
125487,2020,3502754,1706236,PROS,5124,12397,1.0,0.0,0.0,2788.0,0.413326,masculino,engenheiro,ensino superior completo,41
125488,2020,1704105,1659020,PROS,635,1624,0.0,0.0,1.0,35.0,0.391010,masculino,empresario,ensino fundamental completo,61
125489,2020,1709500,1719990,PROS,20116,39404,0.0,0.0,1.0,3057.0,0.510507,feminino,servidor publico municipal,ensino superior completo,58
125490,2020,2303709,441082,PROS,83588,332862,2.0,0.0,0.0,3543.0,0.251119,masculino,jornalista e redator,ensino medio completo,42

In [284]:
#pd.merge(keep, vote[['ano', 'id_municipio', 'votos']].groupby(['ano', 'id_municipio']).agg('sum').reset_index(), how = 'left', left_on = ['ano', 'id_municipio'], right_on = ['ano', 'id_municipio'])

In [230]:
keep2 = pd.merge(keep, df[['id_candidato_bd', 'genero', 'ocupacao', 'instrucao']], how = 'left', left_on = ['id_candidato_bd', 'ano'], right_on = ['id_candidato_bd', 'ano'])

In [231]:
keep.to_csv('election_munic.csv')

In [ ]:
#

In [237]:
missing_df = pd.DataFrame(missing_incumbant, columns = ['index', 'ano', 'id_candidato_bd'])

In [238]:
votes_missing_df = pd.DataFrame(missing, columns = ['index', 'ano', 'id_candidato_bd'])

In [244]:
keep.head()

,ano,id_municipio,id_candidato_bd,sigla_partido,votos_winner,votos,incumbant_run,incumbant_win,term_lim_seat,margin,votos_pct,genero,ocupacao,instrucao
0,2000,2708907,1265591,PSD,3147,4882,0.0,0.0,0.0,1412.0,0.644613,masculino,proprietario de estabelecimento comercial,ensino medio completo
1,2000,1302553,19147,PST,1455,5658,0.0,0.0,0.0,155.0,0.257158,masculino,medico,ensino superior completo
2,2000,1302553,19147,PST,1455,5658,0.0,0.0,0.0,155.0,0.257158,masculino,medico,ensino superior completo
3,2000,2903300,1071793,PAN,2135,3598,0.0,0.0,0.0,708.0,0.593385,masculino,outros,ensino superior completo
4,2000,2903300,1071793,PAN,2135,3598,0.0,0.0,0.0,708.0,0.593385,masculino,aposentado (exceto servidor publico),ensino superior completo

In [243]:
vote[]

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
0,1996,1,eleicao ordinaria,AL,2704302,27855,prefeito,PSD,41,NaN,NaN,nao eleito,2388
1,1996,1,eleicao ordinaria,AM,1302603,2550,prefeito,PSTU,16,NaN,NaN,nao eleito,1713
2,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PAN,26,NaN,NaN,nao eleito,15721
3,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PCO,29,NaN,NaN,nao eleito,705
4,1996,1,eleicao ordinaria,BA,2927408,38490,prefeito,PGT,30,NaN,NaN,nao eleito,989

In [246]:
vote_missing

[]